body{
    display: flex;
}

#container{
    display:flex;
    
}

.logo{
    height:50px;
    width:70px;
}
aside{
    position:fixed;
    top:1px;
    flex-grow:1;
    background-color: white;
    height:100vh;
    display:flex;
    flex-direction: column;
    max-width: 200px;
    padding-left: 20px;
    
   
}

aside div a{
    font-size:1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
}

aside div{
    margin-top: 20px;
}

aside div i{
    font-size:1.5em;
    width:22px;
    height:22px;
    margin:5px;
}


#container main{
    flex-grow:4;
    height:100vh;
    display:flex;
    margin-left: 220px;

}

#container main #center{
    display:flex;
    flex-direction: column;
    width:630px;
    background-color:white;
}

section{
    padding:20px 13%;
    display:flex;
    background-color: #fafafa;
}

.center{
    width:85%;
}

#container main #center #story{
    display: flex;
    justify-content: space-around;
    padding:16px;
    border-radius:3px;
}

.stories{
    width:90%;
   
}

.stories a img{
    border-radius:50%;
    border:2px solid #c62d8f;
    padding:1px;
    object-fit:cover;
}
.stories p{
    width:90%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.icons div img{
    border-radius:50%;
}


#container main #center #post{
    display:flex;
    flex-direction: column;

}

.posts{
    width:100%;
    margin:25px 0;
    background-color: white;
    border:1px solid rgb(255, 255, 255);
    border-radius:3px;

}
.posts .post-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;

}

.posts .post-title .post-left{
    display:flex;
    align-items:center;
}

.posts .post-title .post-left .image{
    margin-right:15px;
}

.posts .post-title .post-left .image img{
    border-radius:50%;
    object-fit: contain;
}

.posts .post-title .post-left .details .name{
    padding-bottom:2px;
    font-weight:bold;
}

.posts .post-content img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.posts .post-footer{
    display:flex;
    justify-content: space-between;
    padding:16px;
}

.posts .post-footer .like-share-comment i{
    font-size:22px;
    margin-right:10px;
}
.posts .post-footer .save{
    font-size:22px;
}

.posts .post-footer-content{
    padding: 0 16px 16px 16px;
}

.posts .post-footer-content p{
    margin-bottom:3px;
}

.posts .post-footer-content .likes{
    margin-bottom:8px;
}

.posts .post-footer-content .name{
    font-weight:600;
}

.posts .post-footer-content span{
    margin-left:10px;
    font-weight:normal;
}

.posts .post-title .post-left .details .name .posting-time{
    font-size:10px;
    margin-top:6px;
    
   
}

.posts .add-comment{
    padding:16px;
    border-top:1px solid #fffdfd;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.posts .add-comment .left-side{
    display:flex;
    align-items:center;
}

.posts .add-comment .left-side i{
    font-size:22px;
    margin-right:15px;

}

.posts .add-comment .left-side input{
    width:100px;
    outline:none;
    border:none;
    font-size: 14px;
}


.right-side{
    width:35%;
    margin-top:15px;
    position:sticky;
}

.right-side .profile-title{
    display:flex;
    align-items:center;
}



.right-side .profile-title .profile-left{
    display:flex;
    align-items:center;
    margin-right:40px;
}

.right-side .profile-title .profile-left .image img{
    border-radius:50%;
    margin-right:15px;
}


.right-side .profile-title .profile-left .details .surname{
    font-weight: lighter;
}

.suggestions{
    display:flex;
    margin-top:25px;
    margin-bottom:20px;
}

.suggestions p{
    margin-right:90px;
}

.suggestion-title{
    display:flex;
    align-items:center;
    margin-bottom:15px;
}

.suggestion-title .suggestion-left{
    display:flex;
    align-items:center;
    margin-right:60px;
}

.suggestion-title .suggestion-left .image img{
    border-radius:50%;
    margin-right:15px;
    object-fit: cover;
}

.suggestion-title .suggestion-left .details .name{
    padding-bottom:3px;
}

