div{
    max-width: 500px;
    margin-top:10px;
    border:1px solid #000;
    display:inline-block;
}

header,main,footer,section{
    border:1px solid #000;
}

header{
    min-height:100px;
}
main,section{
    min-height:200px;
}
section{
    flex-grow:1;
}
