<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <link rel ="stylesheet" href ="responsive.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <div id ="wrap" class ="borderStyle">
        <section id="header-content">
        <header1 class ="borderStyle">Header1</header1>
        <header2 class ="borderStyle"> Header2</header2> 
    </section>
        <section id ="content-area">
            <aside id="left" class="borderstyle">
                <upper class="borderStyle">Upper</upper>
                <bottom class="borderStyle">Bottom</bottom>
            </aside>

            <main class="borderStyle"> Main</main>
            <right class="borderStyle">Right</right>
        </section>
        <footer class="borderStyle">Footer</footer>
    </div>
 
</body>
</html>
