body *{
    display:flex;
}

.borderStyle{
    border :2px solid #000;
    flex-grow:1;
    margin:5px;
    flex-direction:column;
}

.borderstyle{
    flex-grow:1;
}

#wrap{
    display:flex;
}

#head-content{
    height:100vh;
}

#head-content header1{
    height:50px;
    width:70px;
}

#head-content header2{
    height:50px;
    width:30px;
}

#content-area{
    height:100vh;
}

#left{
    flex-direction: column;
}

#content-area main{
    flex-grow:4;
}

#content-area left{
    flex-grow:1;
}

footer{
    height:100px;
}
